@using Volo.Abp.MultiTenancy
@using Volo.Abp.UI.Navigation
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject ICurrentTenant CurrentTenant
@inject IHtmlLocalizer<ErpResource> L
@model ApplicationMenu

<a-layout-sider class="a-left-menu" width="50">
    <div class="menu" title="@L["AllMenus"]">
        <i class="fa fa-bars"></i>
    </div>
    @foreach (var item in Model.Items)
    {
        <div id="@item.ElementId" class="link-a" title="@item.DisplayName">
            <span class="link-item">
                @if (item.Icon?.StartsWith("fa") ?? false)
                {
                    <span class="link-item-icon">
                        <i class="@item.Icon"></i>
                    </span>
                }
                <span class="link-item-title">@item.DisplayName</span>
            </span>
        </div>
    }
</a-layout-sider>

<div class="a-left-menu-panel">
    <div class="a-left-menu-panel-mask"></div>
    <div class="a-left-menu-panel-wrapper">
        <div class="a-left-menu-panel-main" style="position: fixed; left:50px;">
            <button class="close">
                <i class="fa fa-close"></i>
            </button>
            <div class="main-left">
                <div class="filter">
                    <div class="filter-search">
                        <span class="filter-search-icon">
                            <i class="fa fa-search"></i>
                        </span>
                        <span class="filter-search-text">
                            <input type="text" class="input"
                                   aria-autocomplete="none"
                                   placeholder="@L["PleaseInput"] @L["KeyWords"]"
                                   maxlength="32">
                        </span>
                    </div>
                </div>
                <span class="tip"> </span>
                <div class="all">
                    <div class="grouped">
                        @foreach (var menuModule in Model.Items)
                        {
                            var elementId = string.IsNullOrEmpty(menuModule.ElementId) ? string.Empty : $"id={menuModule.ElementId}_Grouped";
                            <section menu-module @elementId>
                                @foreach (var menuItem in menuModule.Items)
                                {
                                    @await Html.PartialAsync("~/Components/Menu/_MenuItem.cshtml", menuItem)
                                }
                            </section>
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>